<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">You have been added to the mix!</div>
            <a href="/users/new" class="btn btn-xl">Back</a>
        </div>
    </div>
</header>
