#unobtrusive-flash-messages {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

#unobtrusive-flash-messages .unobtrusive-flash-message-wrapper {
  padding: 10px 0;
  background: #BCED91;
  opacity: 1;
}

#unobtrusive-flash-messages .unobtrusive-flash-message-wrapper.unobtrusive-flash-error {
  background: #ffcccc;
}

#unobtrusive-flash-messages .unobtrusive-flash-message-wrapper.unobtrusive-flash-warning {
  background: #FFCF79;
}

#unobtrusive-flash-messages .unobtrusive-flash-message-wrapper .unobtrusive-flash-message {
  width: 960px;
  margin: 0 auto;
}
