.intro-paragraph {
  font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:30px;
  line-height:30px;
  color:white;
  opacity:2;
}

.intro-wrapper {
    background-color:black;
    z-index:0;
    opacity:0.8;
    padding:2em;
}
