section#contact{
  background-image: url(MartiniPour.jpg);
  -webkit-filter: grayscale(30%);
 -moz-filter: grayscale(30%);
 -ms-filter: grayscale(30%);
 -o-filter: grayscale(30%);
 filter: grayscale(30%);
 filter: url(grayscale.svg); /* Firefox 4+ */
 filter: gray; /* IE 6-9 */
}
